*.iml
.idea
/qb
bin
pkg

vendor/github.com
vendor/gopkg.in/

coverage.out

cbload
!cbload/
cbrun
!cbrun/
elasticload
!elasticload/
elasticrun
!elasticrun/
ftsrun
!ftsrun/
mongoload
!mongoload/
mongorun
!mongorun/
